

body {
    width: 100%;;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color:rosybrown ;
}  
    html,
    body {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}
.from_login {
    width: 300px;
    height: 400px; 
    position: relative;
    top: 50px;
    padding: 40px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity:80%;
}
.from_login h1 {
    margin-bottom: 40px;
    display: inline-block;
}

.tk_mk {
    margin-bottom: 10px;
    position: relative;
}
.tk_mk input {
    width: 100%;
    height: 35px;
    border-radius: 10pc;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    margin-bottom:20px;
    
}
.tk_mk label {
    position: relative;
    right: 100px;
}
.quenmk {
    color:red
    border-right: 50px;
}

.check_me input {
    height: 10px;
    width: 10px;
    bottom: 10px;
}
.tk_mk input {
    padding-left: 20px;
}
.dieukhoan input {
    height: 10px;
    width: 10px;
    margin: top 20px;
}
button {    
    display: inline-block;  
    margin: 0.75rem;    
    padding: 0.75rem 1.5rem;    
    border: none;   
    outline: none;  
    background-color: #ea4c89;  
    color: #fff;    
    font-family: inherit;   
    font-size: 1.125em; 
    font-weight: 300;   
    font-family: 'Roboto', sans-serif;  
    line-height: 1.5rem;    
    text-decoration: none;  
    text-transform: uppercase;  
    cursor: pointer;    
    transition: all 150ms ease-out; 
    width: 180px;   
    letter-spacing: 4px;
}
.log a{
    color:white;
}

.check_me {
float: left;

}

.quenmk a {
    float: right;
    padding: right 20px;
    text-decoration: none;
    margin: top 10px;
}
span a {
    text-decoration: none;
}
.login {
    border-collapse: collapse;
}
video {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   object-fit: cover;
   scrollbar-darkshadow-color: black;
 }
 .dieukhoan a {
    color:white;
 }
 #chuatk a {
     color:white;
 }





 .log button:focus, button:hover {    
    color:#FFF; 
    text-decoration:none;   
    background-color: #ea4c89;  
    box-shadow: 0 0 0 0.1875rem white,  0 0 0 0.375rem #ea4c89;
    }
     
     
    .log button:active { 
    background-color: #ea4c89;  
    box-shadow: 0 0 0 0.1875rem #ea4c89,  0 0 0 0.375rem #ea4c89;   
    transition-duration: 75ms;  
    text-decoration:none;
    }
     
    .log button.outline {    
    border: 0.1875rem solid #ea4c89;    
    background-color: transparent;  
    color: #ea4c89;
    }
     
    .log button.outline:focus, button.outline:hover {    
    border-color: #ea4c89;  
    color: #ea4c89;
    }
     
    .log button.outline:active { 
    border-color: #ea4c89;  
    color: #ea4c89;