
BODY {
    background-image: url("./anhnenchitrangcute/bgtinhyeu.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: none;
    display: flex;
    align-items: center;
    position: relative;
}