.vantrang {
    color: #FF1493;
    font: 500;
    position: absolute;

}

.chu{
	padding: 20px;
	color: #000000;
	font-family: 'Dancing Script', cursive;
	font-size: 26pt;
    text-align: center;
}

BODY {
    background-image: url("./anhnenchitrangcute/bgtinhyeu.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: none;
    display: flex;
    align-items: center;
    position: relative;
}