.vantrang {
    color: #FF1493;
    font: 500;
}

.chu{
	/* padding: 20px; */
	color: #000000;
	font-family: 'Dancing Script', cursive;
	font-size: 26pt;
    text-align: center;
}

#bgr{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-repeat: no-repeat;
background-image: url(../test/anhnenchitrangcute/bgtinhyeu.jpg);
background-size: cover;
background-position: 50%;
}